.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar{
    font-family: 'Roboto Mono', monospace;
    color: #000;
    z-index: 1;
    position: fixed;
    padding: 15px;
    height: 10vh;
}

a:visited {
    text-decoration: none;
    color : white;
}

a:hover {
    color: blue;
}