<mat-toolbar color="primary">

      <div class="container-fluid">

        <div class="row abc">

          <div class="col-lg-12">
            <p class="credits" style="overflow: scroll;">This site is under development.</p>
          </div>

        </div>

        <div class="row abc">

          <div class="col-lg-2">
            <p class="credits">Scraping credits :</p>
          </div>

          <div class="col-lg-8">
            <p class="credits"><a href="https://github.com/rahul-1903">Rahul Gupta</a></p>
          </div>

        </div>

        <div class="row abc">

          <div class="col-lg-12">
            <p class="credits" style="overflow: scroll;">* The Results of the Laterals could not be scraped due to the unavailability of Roll. Nos.</p>
          </div>

        </div>


      </div>

</mat-toolbar>
