.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar{
    margin-top: 25vh;
    min-height: 40vh;
    font-family: 'Roboto Mono', monospace;
}

.credits{
    font-size: 100%;
}
