.searchPad{
    padding-top: 16vh;
    min-height: 90vh;
    padding-bottom: 10vh;
}

.searchRes{
    padding: 5vh;
    margin-top: 5vh;
    background-color: gold;
    border: 2px black dashed;
    padding-bottom: 8vh;
}

//background-color: #4BBCF4;


mat-list-item{
    font-family: 'Roboto Mono', monospace;
}

.listHeader{
    font-family: 'Roboto Mono', monospace;
}