<div class="container-fluid">

    <div class="row bannerr">
      <div class="col-lg-12 border2">
        <h1 class="typo text-center">Result<span style="color: #0022d2">ados</span></h1>
      </div>
    </div>


  <div class="row front text-center">
    <div class="col-lg-6 all" >

        <h1 class="text-center">Want to see the competition?</h1>
        <button mat-raised-button class="text-center ovrBut" routerLink='/all'>Overview</button>

    </div>

    <div class="col-lg-6 personal">

      <h1 class="text-center">Don't care about the crowd?</h1>
      <button mat-raised-button class="text-center perBut" routerLink='/personal'>View Personal Result</button>

    </div>

  </div>
</div>
