html, body{
    background-color: #EAEAEA;
}

mat-icon{
    color: #0022d2;
}

.button-row button, .button-row a {
    margin: 18px;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
}

button {
    font-family: 'Roboto Mono', monospace;
}

.mainpad{
    padding-top: 16vh;
}


.border2 {
    padding: 30px;
    margin-bottom: 10vh;
}

.typo{
    color: gold;
    padding: 25px;
    font-size: 11vw;
}

mat-list-item{
    font-family: 'Roboto Mono', monospace;
}

.alanysisBorder{
    padding: 2vh;
    margin-bottom: 14vh;
    border: 5px black solid;
}

.pointers{
    padding: 5vh;
    margin-top: 4vh;
}

.eachPoint{
    padding: 5vh;
}

.redText{
    color: red;
}

.search{
    border: 5px black solid;
    padding: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.viewButton{
    color: #EAEAEA;
    background-color: #0022d2;
}

.lastPad{
    padding-bottom: 14vh;
}